<div class="page-container">
  <h1>Create Event Component</h1>
  <form name="form" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="eventName">Name of Event</label>
      <input type="text" class="form-control" name="eventName" [(ngModel)]="formData.eventName" #eventName="ngModel" required />
      <div *ngIf="f.submitted && !eventName.valid" class="help-block">Name for Event is required</div>
    </div>
    <div class="form-group">
      <label for="eventDescription">Event Description</label>
      <textarea rows="4" class="form-control" name="eventDescription" [(ngModel)]="formData.eventDescription" #eventDescription="ngModel" required>
      </textarea>
      <div *ngIf="f.submitted && !eventDescription.valid" class="help-block">Description for Event is required</div>
    </div>
    <div class="form-inline">
      <div class="form-group">
        <label>Month: </label>
        <select type="select" class="form-control">
        </select>
      </div>
      <div class="form-group">
        <label>Day: </label>
        <select type="select" class="form-control"></select>
      </div>
      <div class="form-group">
        <label>Year: </label>
        <select type="select" class="form-control"></select>
      </div>
      <div class="form-group">
        <label>Hour</label>
        <select type="select" class="form-control"></select>
      </div>
      <div class="form-group">
        <label>Minute</label>
        <select type="select" class="form-control"></select>
      </div>
      <div class="form-group">
        <label>AM/PM</label>
        <select type="select" class="form-control"></select>
      </div>
    </div>
    <div class="form-group">
      <label for="eventType">Type of Event</label>
      <select type="select" class="form-control"  name="eventType" [(ngModel)]="formData.eventType" #eventType="ngModel" required>
        <option *ngFor="let type of eventTypeList; let i = index" value="{{i}}">{{type}}</option>
      </select>
      <div *ngIf="f.submitted && !eventType.valid" class="help-block">Type for Event is required</div>
    </div>
    <div class="form-group">
      <label for="eventCategory">Event Category</label><br>
      <div *ngFor="let cat of categoryList">
        <input type="checkbox"  value="{{cat}}" (change)="updateCategory(cat)" />
        <span> {{cat}}</span>
      </div>
    </div>
    <div class="form-group">
      <label for="eventLocation">Event Location</label>
      <input type="search" class="form-control" name="eventLocation" [(ngModel)]="formData.eventLocation" #eventLocation="ngModel" required />
      <!-- TODO: Implement Google Maps here [dropdown?] -->
      <div *ngIf="f.submitted && !eventLocation.valid" class="help-block">Event Location is required</div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary" (click)="submitForm()">Create Event</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
  </form>
</div>
