<div class="page-container container-fluid">
  <h1>Create Event Component</h1>
  <form name="form" #f="ngForm" novalidate>
    <!-- NAME -->
    <div class="form-group">
      <label for="eventName">Name of Event</label>
      <input type="text" class="form-control" name="eventName" [(ngModel)]="formData.eventName" #eventName="ngModel" required />
      <div *ngIf="f.submitted && !eventName.valid" class="help-block alert alert-danger">Name for Event is required</div>
    </div>
    <!-- DESCRIPTION -->
    <div class="form-group">
      <label for="eventDescription">Event Description</label>
      <textarea rows="4" class="form-control" name="eventDescription" [(ngModel)]="formData.eventDescription" #eventDescription="ngModel" required>
      </textarea>
      <div *ngIf="f.submitted && !eventDescription.valid" class="help-block alert alert-danger">Description for Event is required</div>
    </div>
    <!-- DATE -->
    <div class="form-group">
      <label for="eventDate">Date of Event</label>
      <div class="row">
        <div class="col-sm-6">
        <my-date-picker
          name="eventDate"
          #eventDate="ngModel"
          [(ngModel)]="formData.eventDate"
          required
          [options]="myDatePickerOptions"
          (dateChanged)="onDateChanged($event)">
        </my-date-picker>
        </div>
      </div>
    </div>
    <!-- TIME -->
    <div class="form-group">
      <label>Time of Event</label>
      <div class="row">
        <div class="col-sm-2">
          <label>Hour</label>
          <select type="select" class="form-control" name="timeObjectHr" [(ngModel)]="timeObject.hr" #timeObjectHr="ngModel">
            <option *ngFor="let h of timeKeeper.hr; let i = index" value="{{i}}">{{h}}</option>
          </select>
        </div>
        <div class="col-sm-2">
          <label>Minute</label>
          <select type="select" class="form-control" name="timeObjectMin" [(ngModel)]="timeObject.min" #timeObjectMin="ngModel">
            <option *ngFor="let m of timeKeeper.min; let i = index" value="{{i}}">{{m}}</option>
          </select>
        </div>
        <div class="col-sm-2">
          <label>AM/PM</label>
          <select type="select" class="form-control" name="timeObjectMer" [(ngModel)]="timeObject.mer" #timeObjectMer="ngModel">
            <option *ngFor="let m of timeKeeper.mer; let i = index" value="{{i}}">{{m}}</option>
          </select>
        </div>
      </div>
    </div>
    <!-- TYPE -->
    <div class="form-group">
      <label for="eventType">Type of Event</label>
      <select type="select" class="form-control"  name="eventType" [(ngModel)]="formData.eventType" #eventType="ngModel" (change)="changeEventType($event)" required>
        <option *ngFor="let type of eventTypeList; let i = index" value="{{type}}">{{type}}</option>
      </select>
      <div *ngIf="f.submitted && !eventType.valid" class="help-block alert alert-danger">Type for Event is required</div>
    </div>
    <!-- TYPE == 'RSO' -->
    <div class="form-group" *ngIf="formData.eventType === 'RSO'">
      <label for="eventType">RSO</label>
      <select type="select" class="form-control"  name="rso" [(ngModel)]="formData.rso" #rso="ngModel" required>
        <option *ngFor="let rso of RSOsList; let i = index" value="{{rso.rid}}">{{rso.rsoName}}</option>
      </select>
      <div *ngIf="f.submitted && !rso.valid" class="help-block alert alert-danger">RSO for RSO Event is required</div>
    </div>
    <!-- CATEGORY -->
    <div class="form-group">
      <label for="eventCategory">Event Category</label><br>
      <div *ngFor="let cat of categoryList">
        <input type="checkbox"  value="{{cat}}" (change)="updateCategory(cat)" />
        <span> {{cat}}</span>
      </div>
    </div>
    <!-- Location -->
    <div class="form-group">
      <label for="eventLocation">Event Location</label>
      <input name="eventLocation"  placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl" required/>
      <sebm-google-map [latitude]="formData.eventLocation.lat" [longitude]="formData.eventLocation.lng" [zoom]="zoom" style="height:300px">
        <sebm-google-map-marker [latitude]="formData.eventLocation.lat" [longitude]="formData.eventLocation.lng" [markerDraggable]="true" (dragEnd)="markerDragEnd({lat: $event.coords.lat, lng: $event.coords.lng}, $event)"> </sebm-google-map-marker>
      </sebm-google-map>
      <!-- Dont really need to require location since it has a default value -->
      <!-- <div *ngIf="f.submitted" class="help-block alert alert-danger">Event Location is required</div> -->
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary" (click)="submitForm()">Create Event</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
  </form>
</div>
