<div [ngSwitch]="currentTab">
  <ul class="nav nav-pills nav-justified">
    <li role="presentation" [ngClass]="{'active': currentTab == 'home'}">
      <a (click)="switchTab('home')">Home</a>
    </li>
    <li role="presentation" [ngClass]="{'active': currentTab == 'find-events'}">
      <a (click)="switchTab('find-events')">Find Events</a>
    </li>
    <li role="presentation" [ngClass]="{'active': currentTab == 'create-events'}">
      <a (click)="switchTab('create-events')">Create Events</a>
    </li>
    <li role="presentation" [ngClass]="{'active': currentTab == 'approve-events'}">
      <a (click)="switchTab('approve-events')">Approve Events</a>
    </li>
    <li role="presentation" [ngClass]="{'active': currentTab == 'create-rso'}">
      <a (click)="switchTab('create-rso')">Create RSOs</a>
    </li>
    <li role="presentation" [ngClass]="{'active': currentTab == 'view-rso'}">
      <a (click)="switchTab('view-rso')">View/Join RSOs</a>
    </li>
    <li>
      <a style="color:red" [routerLink]="['/login']">Logout</a>
    </li>
  </ul>
  <div>
    <template [ngSwitchCase]="'find-events'"><find-events></find-events></template>
    <template [ngSwitchCase]="'create-events'"><create-events></create-events></template>
    <template [ngSwitchCase]="'approve-events'"><approve-events></approve-events></template>
    <template [ngSwitchCase]="'create-rso'"><create-rso></create-rso></template>
    <template [ngSwitchCase]="'view-rso'"><view-rso></view-rso></template>
    <template [ngSwitchCase]="'home'" ngSwitchDefault>
      <!-- <h1>Hi {{currentUser.firstName}}!</h1> -->
      <div class="jumbotron" style="text-align:center">
        <h1>Welcome, {{currentUser.firstName}}!</h1>
      </div>
      <!--
      <h3>All registered users:</h3>
      <!-- <ul>
          <li *ngFor="let user of users">
              {{user.username}} ({{user.firstName}} {{user.lastName}}) - {{user.email}}
              - <a (click)="deleteUser(user.id)">Delete</a>
          </li>
      </ul> --
      <p><a [routerLink]="['/login']">Logout</a></p> -->
    </template>
  </div>
</div>
